/* regular buttons */
#kendoUiMobileApp.km-flat .button-group .km-button.regular {
  background-color: black;
  border-color: black;
  color: white;
}
#kendoUiMobileApp.km-flat .button-group .km-button.regular.km-state-active {
  background-color: white;
  border-color: black;
  color: black;
}
/*Primary button*/
#kendoUiMobileApp.km-flat .button-group .km-button.primary {
  background-color: #33b5e5;
  border-color: #33b5e5;
  color: #fff;
}

#kendoUiMobileApp.km-flat .button-group .km-button.primary.km-state-active {
  background-color: #fff;
  border-color: #33b5e5;
  color: #33b5e5;
}